navbar-default{
    background-color: black;
}

body {
    padding-top: 5rem;
}

hr{
    border: none;
    height: 2px;
    /* Set the hr color */
    color: lightgrey; /* old IE */
    background-color: lightgrey; /* Modern Browsers */
}

.Required{
    color: red;
    font-weight: bold;
}


.form_group{
    margin: right;
    margin: left;
}

textarea{
   margin-top: 10px;
   width: 27.5em;
   height: 8em;
   resize: none;
   border-radius: 5px;
}

input{
    margin-top: 10px;
    border: none; /* <-- This thing here */
    border:solid 1.5px #ccc;
    border-radius: 4px;
    border-color: grey;
    
}